body{
    background-color: #333;
    margin : 0;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
   
    }

 
  nav {
    background-color:#ff99ff;
    overflow:hidden;
    scroll-behavior:smooth;
  }


  .nav_container {
      height:calc(3em + 4px);}

  section {
        padding:calc(1em + 2px);
        width:100vw;
        
      }
  a {
          border:solid 1px transparent;
          padding:1em;
          
    }
